.App {
  text-align: center;
  position: relative;
}

.input-and-button {
 padding-top: 20px;
 padding-bottom: 10px;
}
.pagination{
  padding-right: 0px !important;
  padding-top: 10px;
}
.pagination a{
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
.pagination a:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
  text-decoration: none;
}
.pagination a:active {
  background: none;
  box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
.pagination a:focus
{
  box-shadow: 0 0 0 2px rgba(1, 0, 36, 0.404) inset, 0 0 0;
}




@media (max-width: 576px) {
  .button-find {
      padding-top: 15px;
      margin: auto;
  }
  input.nick-input{
    font-size: 2rem;
    height: auto;
  }
}